name: Release Forge
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [linux, darwin, windows]
        arch: [amd64, arm64]
        exclude:
          - os: windows
            arch: arm64

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Build
        run: |
          mkdir dist
          if [ "${{ matrix.os }}" = "windows" ]; then
            GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -o dist/forge-${{ matrix.os }}-${{ matrix.arch }}.exe
          else
            GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -o dist/forge-${{ matrix.os }}-${{ matrix.arch }}
          fi

      - uses: softprops/action-gh-release@v2
        with:
          files: dist/*
